<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.upce.vetalmael">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".VetalmaelApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.VetAlmael.Splash">

        <activity
            android:name=".main.view.MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <nav-graph android:value="@navigation/main_navigation" />
        </activity>

    </application>

</manifest>